@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Expo-Medium";
  src: url("../../public/fonts/alfont_com_AlFont_com_ExpoArabic-Medium.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .btn-default {
    @apply text-center bg-picks-dark hover:bg-green-700 rounded-md font-semibold text-white shadow-sm px-3.5 py-2.5 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white;
  }
}

.font-expo-medium {
  font-family: "Expo-Medium", "sans-serif" !important;
}
